* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

button {
    border-radius: 8px;
    border: none;
    padding:0.4em 2em;
    display: inline-block;
    margin: 20px;
    text-shadow: lightgray 1px 1px 0;
}

button:hover {
    background-color: lightgray
}

input {
    border: none;
    border-bottom: 2px solid darkgrey
}

ul {
    list-style-type: none;
}

